#root {
  background-color: #2F2F2F !important;
}

div[data-testid="wayfinder-drawer-container"], .MuiDrawer-paperAnchorLeft, .MuiAvatar-circular, header  div[data-testid="search-box"] {
background-color: #3C3C3C !important;
}
nav[aria-label='Wayfinder'] div[role="presentation"] > .MuiPaper-root {
  border-right-color:#3C3C3C !important
}

main[data-testid='page.home'] .MuiGrid-item:has(#data-catalog-onboarding) {
  display: none; 
}

.css-g9f0ua {
background-color: #171717;
}

.css-1ioljzb {
background-color: #FAFAFA;
}

.css-li4rb1 {
background-color: #171717;
}

.css-14p6wfp {
background-color: #EBEBEB;
}

main[data-testid="page.home"] > div>  div>  div.MuiBox-root {
  height: 400px;
}


.css-4i29x9, .css-c95ib, .css-118bjyi {
height: 400px;
}

.css-1p0howy {
padding: 1.44rem 0rem 1.44rem 1.44rem;
}

.css-19fkdc9.Mui-disabled {
-webkit-text-fill-color:black;
}

main[data-testid="page.home"] .fr-view table td, .fr-view table th {
border: none;
}

li:has(> a[href="/app/filesystem"]) {
 display: none;
}

li:has(> a[href="/app/policies"]) {
 display: none;
}

div:has(> a[href="https://docs.alationdata.com/en/latest/welcome/DocumentHubs/index.html"]) {
 display: none;
}

a[data-pendoid="topbar.switch-to-classic-experience"] {
  display: none;
}


main[data-testid='page.table'] button[data-testid='rich-text-field--edit-menu-item:4'] {
  display: none
}

main[data-testid='page.table'] button[data-testid='suggest-button:description'] {
  display: none
}


main[data-testid='page.attribute'] button[data-testid='rich-text-field--edit-menu-item:4'] {
  display: none
}

main[data-testid='page.attribute'] button[data-testid='suggest-button:description'] {
  display: none
}

